@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    primary-color:#77429A
}
body{
    background-color: #E5D6FF;
    background-image: url("/Images/Image.png");
    font-family: "Inter Tight", sans-serif;
}
.top-head{
    background-color: #77429A;
    height: 35px;
    border-radius: 30px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;

}
.main-head{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-head ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: gray;
    font-weight: bold;
    font-size: 16px;
}
.book{
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #77429A;
    color: white;
    border: none;
    cursor: pointer;
}
.login{
    background-color: transparent;
     padding: 15px 20px;
    border-radius: 30px;
    color: #77429A;
    border: 1px solid #77429A;
    cursor: pointer;

}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
    text-align: center;
    margin-bottom: 300px;


}
.update{
    background-color: #77429a3e ;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.h{
    color: #77429A;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}
.hero-para{
    width: 542px;
    line-height: 30px;
}
.trust{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profiles{
    display: flex;
    justify-content: center;
}
.profiles-box{
    border:1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url("/Images/p1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -10px;
    
}
.star{
    text-align: left;
    margin-left: 15px;

}
.Desktop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 200px;
    background-color: #77429a;
    color: white;
    position: relative;
  
}
.Desktop > img{
    margin-top: -200px;
}
.abs{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
}
.abs2{
    position: absolute;
    right: 0;
    top: 10  ;
    width: 100px;

}
.company{
    color: white;
    display: flex;
    gap: 40px;
    padding: 20px 0;
}
.smart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-top: 20px;
    gap: 40px;
background-color: white;


}
.smart h2{
    font-weight: 500;
    font-size: 50px;
}
.growth{
    color: #77429A;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;

}
.smart p{
    width: 45%;
    text-align: center;

}
.chart{
display: grid;
grid-template-columns: auto auto auto;
}
.chart1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}
.chart1 h4{
    font-weight: 600;
    font-size: 20px;
}
.chart1 p{
    width: 90%;
}
.All-in-one{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}
.manage{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.task{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.discover{
    background-color: #77429a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.card{
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto auto;
}
